@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format(woff2);
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

a {
  color: #2D3440;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.main-logo {
  width: 137px;
  margin-right: 16px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 705px;
}

.navigation-list-icon {
  max-width: 510px;
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.page-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.description{
  color: #565C66;
}
.best-product-card {
  font-weight: 900;
  font-size: 36px;
}

.title-center {
  text-align: center;
}

.navigation-list,
.navigation-item,
.navigation-item-sub,
.best-product-item {
  list-style-type: none;
}

.navigation-item {
  line-height: 20px;
}
.navigation-item-icon {
  font-size: 14px;
}

.button {
  font-weight: 700;
  justify-content: center;
}

.button-white {
  font-weight: 700;
  text-align: center;
  padding: 12px 32px;
  border-radius: 26px;
  background: #FCFCFC;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.40),0px 4px 12px 0px rgba(45, 52, 64, 0.10);
  line-height: 20px;
}

.button-red{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 12px 32px;
  border-radius: 26px;
  background: #FF2F64;
  box-shadow: 0 0 0 4px #FF2F64(252, 252, 252, 0.40),0px 4px 12px 0px rgba(45, 52, 64, 0.10);
  line-height: 20px;
}

.contacts-phone {
  font-family: "Inter", sans-serif;
  color: #2D3440;
  font-style: normal;
  font-weight: 700;
}

.best-product-description {
  font-size: 18px;
  line-height: 24px;
}

.promotion-title {
  font-size: 24px;
  line-height: 30px;
}

.promotion-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.promotion-item {
  background-color: #F79;
  width: 570px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 36px 200px 36px 36px;
}

.promotion-item-raspberry {
  background-image: url("../images/background/background-3.png");
}

.promotion-item-marshmallow {
  background-image: url("../images/background/background-4.png");
}

.product-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-card-title,
.product-card-price {
  font-size: 20px;
  line-height: 24px;
}

.product-card {
  border-radius: 8px;
  background: #FCFCFC;
  width: 270px;
  text-align: center;
}

.product-card-price { /*Не работает*/
  text-align: left;
}

.about {
  border-radius: 16px;
  background-image: url("../images/background/background-8.jpg");
  background-size: cover;
  background-position: center;
  width: 1170px;
  padding: 24px;
}

.about-title {
  line-height: 46px;
}

.about-wrapper {
  background: #FFF;
  border-radius: 16px;
  padding: 56px 40px;
}

.about-list {
  display: flex;
}

.new-in-blog {
  border-radius: 16px;
  background: url("../images/background/background-5.jpg"), no-repeat;
  background-position: center;
  width: 570px;
  height: 224px;
  padding: 33px 235px 67px 32px;
}
/*Проверить*/
.new-in-blog-title {
  color: #2D3440;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.new-in-blog-description {
  line-height: 20px;
}

.newsletter {
  border-radius: 16px;
  background: url("../images/background/background-9.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 26px;
  width: 570px;
}

.newsletter-wrapper {
  background: #FFF;
  border-radius: 16px;
  width: 558px;
  padding: 26px;
}

.newsletter-button {
  border-radius: 26px;
  border: 4px solid rgba(255, 47, 100, 0.30);
  background:#FF2F64;
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
  padding: 12px 32px;
}

/*Не работает*/
.delivery {
  border-radius: 16px;
  background-image: url("../images/background/background-6.jpg");
  background-position: center;
  background-size: cover;
  width: 1170px;
  height: 534px;
}

.delivery-data-wrapper {
  width: 500px;
  border-radius: 8px;
  background: var(--basic-extra-light, #FCFCFC);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
}

.form-label {
  font-weight: 700;
  line-height: 20px;
}

.contacts {
  border-radius: 16px;
  background-image: url("../images/background/background-7.jpg");
  background-position: center;
  background-size: cover;
  width: 1170px;
  height: 492px;
}

.address-title {
  font-family: "Inter" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.contacts-wrapper {
  width: 343px;
  height: 364px;
  border-radius: 8px;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
}

.contacts-address-text,
.contacts-phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone-text { /*Не работает*/
  font-size: 16px;
  font-weight: 400;
}

.contacts-working-hours {
  font-size: 14px;
  line-height: 20px;
}

.suppliers-item {
  font-size: 14px;
  line-height: 20px;
}

.for-suppliers {
  font-weight: 700;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
}

/*Catalog*/
.filters {
  font-size: 14px;
  line-height: 20px;
}
.breadcrumbs-item {
  font-weight: 700; /*Не работает жирность*/
}

.button-light { /*Некорректно подтягиваются стили кнопки*/
  font-weight: 700;
  text-align: center;
  padding: 8px 32px;
  border-radius: 20px;
  border: 2px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.30);
}

.catalog-products {}


